<div class="oj-sm-padding-4x oj-flex oj-sm-justify-content-center oj-sm-align-items-center">
  <div class="oj-flex-item" style="text-align: center;">
    <h1 style="text-align: center; font-weight: bold; font-size: 4em;">403</h1>
    <h1 style="text-align: center; margin: 0;">Sorry, You don't have enough privileges to see this page, please contact your System Administrator</h1>
    <oj-button class="oj-button-primary oj-margin"  data-bind="click: function () { $root.router.go('dashboard') }">Back to Dashboard</oj-button>
  </div>
</div>
